@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

* {
  font-family: "Oswald", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --rich_black: #28262C;
  --emerald: #AA7BC3;
  --state_grey: #69747C;
  --old_lavander: #766C7F;
  --mint_cream: #F1FFFA;
}

::-webkit-scrollbar {
  width:10px;
  height: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background:var(--state_grey);
}

::-webkit-scrollbar-thumb {
  background: var(--emerald);
  border-radius: 10px;
}

.logo a {
  text-decoration: none;
}

.logo p {
  color: var(--mint_cream);
  font-size: 21px;
}

.logo strong {
  color: var(--emerald);
}

.cabeçalho {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 40px;
  background-color: var(--rich_black);
}

.navegataion {
  display: flex;
  margin-right: 20px;
  justify-content: space-around;
}

.nav-item {
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 20px;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  color: var(--rich_black);
  background-color: var(--emerald);
}

.nav-item:hover {
  transition: ease .3s;
  color: var(--mint_cream);
  border: 1px solid var(--emerald);
  background-color: var(--rich_black);
}

.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--rich_black);
  border-bottom: 2px solid var(--emerald);
}

.banner-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  height: 50%;
  font-size: 34px;
  text-align: justify;
  color: var(--emerald);
 
}

.banner-text h1 {
  font-size: 70px;
  line-height: 70px;
  font-weight: 700;
  font-family: "Oswald";
}

.banner-text p {
  color: var(--mint_cream);
}

.about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--rich_black);
  border-bottom: 2px solid var(--emerald);
}

.aboutImg {
  width: 40%;
  height: 80%;
}

.about-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  height: 80%;
  padding: 20px;
  color: var(--mint_cream);
}

.about-text h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--emerald);
}

.about-text p {
  font-size: 24px;
  text-align: justify;
  color: var(--mint_cream);
}

.services {
  height: 100vh;
  background-color: var(--rich_black);
  border-bottom: 2px solid var(--emerald);
}

.services .services-title {
  padding-top: 10px;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: var(--emerald);
}

.cards {
  display: flex;
  margin-top: 7%;
  align-items: center;
  background-color: var(--rich_black);
  justify-content: space-around;
}

.cards h1 {
  color: var(--emerald);
}

.cards p {
  color: var(--mint_cream);
  text-align: justify;
}

.cards .card1 {
  text-align: center;
  border-radius: 4px;
  margin: 50px;
  padding: 20px;
  border: 2px solid var(--emerald);
}

.cards .card1:hover {
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  box-shadow: 5px 5px 15px -4px var(--emerald);
}

.cards .card2 {
  text-align: center;
  border-radius: 4px;
  margin: 50px;
  padding: 20px;
  border: 2px solid var(--emerald);
}

.cards .card2:hover {
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  box-shadow: 5px 5px 15px -4px var(--emerald);
}

.cards .card3 {
  text-align: center;
  border-radius: 4px;
  margin: 50px;
  padding: 20px;
  border: 2px solid var(--emerald);
}

.cards .card3:hover {
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  box-shadow: 5px 5px 15px -4px var(--emerald);
}

.rodape {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 280px;
  background-color: var(--rich_black);
}

.container-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  height: 50%;
}

.rodape-info {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rodape-info a {
  text-decoration: none;
  color: var(--mint_cream);
}

.rodape-info a:hover {
  color: var(--emerald);
}

.rodapetitulo {
  font-weight: 700;
  color: var(--emerald);
}

.contatos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: 280px;
  border-bottom: 2px solid var(--emerald);
}

.contatos a {
  color: var(--mint_cream);
  text-decoration: none;
}

.contatos a:hover {
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  box-shadow: 1px 1px 15px -4px var(--emerald);
}